.copyToClip-anim  {
    background-color: #f1d94f;
    animation-name: ctca;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay :0s;
}
@keyframes ctca {
    0% { background-color:#f1d94f; }
    100% { background-color: transparent; }
}
.note-card-btn {
    background-color: transparent;
    opacity: .6;
}
.note-card-btn:hover {
    opacity: .85;
}

